body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 100%;
  }
  
  ul {
    font-family: 'Open Sans', sans-serif;
  }
  li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
 
  .rectangle {
    height: 50px;
    width: 100%;
    background-color: #707070;
    bottom: 0;
  }

  #date {
    font-family: 'Roboto', sans-serif;
    font-size: 3.125em;
    font-style: regular;
    font-weight: 300; 
  }
  .date {
    font-family: 'Roboto', sans-serif;
    font-size: 3.125em;
    font-style: regular;
    font-weight: 300; 
  }