body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: green;
  color: white;
  }
  
  ul {
    font-family: 'Open Sans', sans-serif;
  }
  li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }